@charset "UTF-8";

/* Tudo que em HTML é id, em CSS é # 
    Tudo que em HTML é class, em CSS é .
*/

body {
    background-color: rgb(0, 255, 157);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(43, 255, 0);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
color: aquamarine;
}

.basico{
    background-color: green;
    font-weight: bold;
}
.intermediario{
    background-color: rgb(128, 115, 0);
}
.avançado{
    color: rgb(128, 0, 0);
}
.destaque{
    background-color: rgb(253, 255, 240);
}